<ion-view view-title="Restaurante" ng-controller="Perfil_Restaurante_Ctrl as vm">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
         <!--Menu principal-->
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.perfil({ id: vm.restaurante.id })" class="tab-item">
                <i class="icon ion-android-restaurant"></i> Perfil
            </a>
            <a ui-sref="app.menu({ id: vm.restaurante.id })" class="tab-item">
                <i class="icon ion-android-map"></i> Menú
            </a>
            <a ui-sref="app.fotos({ id: vm.restaurante.id })" class="tab-item">
                <i class="icon ion-images"></i> Fotos
            </a>
             <a ui-sref="app.promociones({ id: vm.restaurante.id })" class="tab-item">
                <i class="icon ion-pricetags"></i> Promociones
            </a>
            <a ui-sref="app.categorias" class="tab-item">
                <i class="icon ion-ios-location"></i> Mapa
            </a>
        </div>
        <!--Portada-->
        <div class="hero slide-up" style="background-image: url('http://gael.net.mocha7004.mochahost.com/API/public{{vm.restaurante.foto}}');">
        <!--div class="hero slide-up" style="background-image: url('{{vm.restaurante.restaurante_foto}}');"-->


            <div class="content">
                <div class="avatar" style="background-image: url('http://gael.net.mocha7004.mochahost.com/API/public{{vm.restaurante.logo}}')" ></div>
                <h3><a class="light">{{vm.restaurante.nombre}}</a></h3>
                <h4>{{vm.restaurante.eslogan}}</h4>
            </div>

        </div>
        <!--Botones de suscripcion-->
        <div class="button-bar static">
                <button class="button button-large button-clear flat  icon ion-ios-telephone"></button>
                <button class="button button-large button-clear flat  icon ion-star"></button>
                <button class="button button-large button-clear flat  icon ion-android-share-alt"></button>
                <button class="button button-large button-clear flat  icon ion-android-alert"></button>
        </div>
        <hr>
        <!--Datos basicos-->
        <div class="row">
            <div class="col">
                <div class="contect padding double-padding-x">
                    <h4>Info</h4>
                    <ul class="list">
                        <li> <i class="icon ion-clock"></i> Horario: {{vm.restaurante.horario}}</li>
                        <li> <i class="ion-ios-telephone"></i> Teléfono: {{ vm.restaurante.telefono }} </li>
                        <li> <i class="ion-map"></i> Dirección: {{ vm.restaurante.direccion }} </li>
                        <li> 
                            <!--Implementar una funcion que mande llamar a window.open-->
                            
                                <i class="ion-android-globe"></i> {{ vm.restaurante.sitio_web }}
                            
                        </li>
                        <li> 
                            
                                <i class="ion-social-facebook"></i> {{ vm.restaurante.url_facebook }} 
                           
                        </li>
                        <li> 
                            
                                <i class="ion-social-twitter"></i> {{ vm.restaurante.url_twitter }} 
                           
                        </li>
                        <li> <i class="ion-cash"></i> Rango de precio: 
                            <i class="ion-social-usd" ng-repeat="i in getRangoDePrecio() track by $index"> </i>
                        </li>
                    </ul>
                </div>
            </div>
                
        </div>
        <button class="button button-fab button-fab-bottom-right button-balanced waves-effect waves-button waves-light">
                {{ vm.restaurante.calificacion }}
        </button>
        <hr>
        <!--Datos destacados -->
        <div class="contect padding double-padding-x">
            <h4>Destacados</h4>
            <ul>
                <li ng-repeat="destacado in vm.datos_destacados"> <i class="ion-android-checkmark-circle"></i> {{destacado.nombre}} </li>
            </ul>
        </div>
        <hr>
    </ion-content>
</ion-view>


<!--Other option of "Datos basicos" change the score-->
<!--div class="row">
            <div class="col col-75">
                <div class="contect padding double-padding-x">
                    <h4>Info</h4>
                </div>
            </div>
            <div class="col">
                <h4 class="outline padding balanced inline img-rounded">
                    {{ vm.restaurante.restaurante_calificacion }}
                </h4>
            </div>
        </div>
            <div class="row">
                <div class="col">
                <div class="contect padding double-padding-x">
                    <ul class="list">
                        <li> <i class="icon ion-clock"></i> Horario: {{vm.restaurante.restaurante_horario}}</li>
                        <li> <i class="ion-ios-telephone"></i> Teléfono: {{ vm.restaurante.restaurante_telefono }} </li>
                        <li> <i class="ion-map"></i> Dirección: {{ vm.restaurante.restaurante_direccion }} </li>
                        <li> <i class="ion-android-globe"></i> {{ vm.restaurante.restaurante_sitio_web }}</li>
                        <li> <i class="ion-social-facebook"></i> {{ vm.restaurante.restaurante_url_facebook }} </li>
                        <li> <i class="ion-social-twitter"></i> {{ vm.restaurante.restaurante_url_twitter }} </li>
                        <li> <i class="ion-cash"></i> Rango de precio: 
                            <i class="ion-social-usd" ng-repeat="i in getRangoDePrecio() track by $index"> </i>
                        </li>
                    </ul>
                </div>
                </div>
            </div-->     
            
            

